#form-container {
    background-image: url('https://lh3.googleusercontent.com/drive-viewer/AFGJ81phxkHf-8-nRaOJ47tTmHfGR9cxxaijXoq9B7hXijGwES4JS2Us9x6VPk6-kH2KeNuPB4ynl8xgF06IpD2fX-0p1YoN=s1600');
}

input[type=text] {
    width: 90%;
}

.show-complete-button{
    background-color: greenyellow;
}

